* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 800;
  line-height: 24px;
  font-family: "Allerta", Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #3498db;
  color: white;
}
body p {
  font-weight: 500;
}

.content {
  position: relative;
  z-index: 99;
  text-align: center;
}

/*Layout*/
[role="header"] {
  background: url(http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg) no-repeat center center;
  background-size: cover;
  height: 12em;
  text-align: center;
}
[role="header"] h1 {
  line-height: 2;
}

[class*="pure-u"] p {
  color: white;
}

/*Demo*/
.square, .rounded {
  width: 4em;
  height: 4em;
}

.rounded {
  overflow: hidden;
}
.rounded:before {
  border-radius: 100%;
}

section figure {
  width: 40%;
  margin: auto;
}
section figure .square {
  margin: 1em auto;
}

.result section {
  padding: 1em;
  background: #fff;
}

.image {
  width: 15em;
  height: 8em;
  display: block;
  margin: auto;
  background: url(http://31.media.tumblr.com/7eaaac07f23f03cb51a296bd81d77569/tumblr_n0hpyugseU1st5lhmo1_1280.jpg) no-repeat center center;
  background-size: cover;
}

.sample {
  width: 2em;
  height: 2em;
  display: inline-block;
}

.content, .pure-u-1-1:not(:first-child) {
  max-width: 840px;
  margin: auto;
  display: block;
  margin-top: 1em;
}
.content p, .pure-u-1-1:not(:first-child) p {
  text-align: left;
}
.content ul, .pure-u-1-1:not(:first-child) ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.content ul li, .pure-u-1-1:not(:first-child) ul li {
  display: block;
  width: 100%;
  text-align: left;
}
